:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  font-family: San Francisco, sans-serif;
  padding: 20px;
}

body.dark {
  --bg-color: #121212;
  --text-color: #e0e0e0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#themeToggle {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  background: none;
  border: 1px solid currentColor;
  border-radius: 5px;
}
