---
import Socials from './Socials.astro';
---

<div>

    <!-- Start: Terminal -->
    <div class="mt-6 bg-black rounded-lg p-4 border border-gray-600 text-xs">

        <div class="flex items-center mb-2">
            <span class="text-primary mr-2">$</span>
            <span class="text-gray-100">kotaro@somewhere ~ % cat about.me</span>
        </div>

        <div class="mt-2 text-gray-400">
            Last login: Wed Sep 17 22:02:42 on ttys000
            <br />
            Ready to connect.
            <br />
            Waiting for contact request...
        </div>

    </div>
    <!-- End: Terminal -->

    <!-- Start: Social Links -->
    <Socials />
    <!-- End: Social Links -->

</div>
